body {
    margin: 0;
    background-color: #ebecf0;
}

main {
    width: 70%;
    margin: 0 auto;
    max-width: 1644px;
    padding: 18px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 1260px) {
    main {
        width: 100%;
    }
    .grid-3 {
        grid-template-columns: 50% 50%;
    }
    .grid-4 {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 600px) {
    .grid-3 {
        grid-template-columns: 100%;
    }
    .grid-4 {
        grid-template-columns: 100%;
    }
}