main {
    width: 65%;
    margin: auto;
    max-width: 1644px;
    padding: 18px;
}

@media (max-width: 1260px) {
    main {
        width: 100%;
    }
}

.n-card {
    background-color: #efefef;
    box-shadow: 20px 20px 60px #d9d9d9;
}

.grid-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}